<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cable_insertion_world">
  <!-- ============================================================ -->
  <!-- Complete World: UR5e + Hand-E + Cable + Circuit Board        -->
  <!-- ============================================================ -->

  <!-- Include all components -->
  <xacro:include filename="$(find gazebo_cable_env)/urdf/ur5e_hande.urdf.xacro"/>
  <xacro:include filename="$(find gazebo_cable_env)/urdf/cable.urdf.xacro"/>
  <xacro:include filename="$(find gazebo_cable_env)/urdf/circuit_board.urdf.xacro"/>

</robot>
